.div{
    height: 80px;
    width: 80px;
    background-color: chartreuse;
    transition: all 3s ease-in-out;
    position: relative;
    top: 0%;
    margin: 20px;
    border-radius: 0%;
    text-align: center;
    line-height: 80px;
    color:rebeccapurple;
    font-size: large;

    
}
.div:hover{
    background-color: aqua;
    border-radius: 50%;
    width: 200px;
    top: 100px;


}