.div{
    height: 80px;
    width: 80px;
    background-color: chartreuse;
    transition: background-color 0.8ms;
    border-radius: 0%;
    
}
.div:hover{
    background-color: aqua;
    border-radius: 50%;

}